<section id="activities">
  <h2>🧩 Activities</h2>
  <ul>
    <li><strong>TSRI Summer Program</strong> – Participated in the Taiwan Semiconductor Research Institute summer program, gaining in-depth knowledge of semiconductor device fabrication and measurement.</li>
     <img src="{{ 'assets/images/skills/IMG_6204.JPG' | relative_url }}" alt="TSRI Photo" class="img-square_C" loading="lazy">
     <img src="{{ 'assets/images/activities/圖片3.png' | relative_url }}" alt="TSRI Certificate" class="img-square_A" loading="lazy">
    <li><strong>Science Train Teaching</strong> – Delivered hands-on science experiments at middle schools, developing teaching and science communication skills.</li>
     <img src="{{ 'assets/images/activities/圖片4.png' | relative_url }}" alt="Volunteer Activity" class="img-square" loading="lazy">
    <li><strong>Skateboarding Club</strong> – Collaborated and learned with students from other departments, enhancing teamwork and problem-solving abilities.</li>
     <img src="{{ 'assets/images/activities/圖片6.png' | relative_url }}" alt="Skateboarding Club" class="img-square" loading="lazy">
  </ul>
</section>
