<section id="activities">
  <h2>🌟 Activities</h2>
  <ul>
    <li>
      <strong>Science Train Volunteer</strong><br>
      Participated in science education volunteer activities, designing hands-on experiments and promoting science popularization.<br>
      <img src="{{ 'assets/images/skills/IMG_6204.JPG' | relative_url }}" alt="Science Train Photo" class="img-square_C" loading="lazy">
      <img src="{{ 'assets/images/activities/圖片3.png' | relative_url }}" alt="Science Train Certificate" class="img-square_A" loading="lazy">
    </li>
    <li>
      <strong>Other Academic and Social Activities</strong><br>
      Engaged in various academic seminars, workshops, and student organizations, enhancing teamwork and communication skills.<br>
      <img src="{{ 'assets/images/activities/圖片4.png' | relative_url }}" alt="Volunteer Activity Photo" class="img-square" loading="lazy">
      <img src="{{ 'assets/images/activities/圖片6.png' | relative_url }}" alt="Club Activity Photo" class="img-square" loading="lazy">
    </li>
  </ul>
</section>
