<section id="activities">
  <h2>🧩 活動參與</h2>
  <ul>
    <li><strong>TSRI 課程</strong> – 台灣半導體研究中心暑期研習，深入了解半導體元件製程與量測。</li>
     <img src="{{ 'assets/images/skills/IMG_6204.JPG' | relative_url }}" alt="tsri照片" class="img-square_C" loading="lazy">
     <img src="{{ 'assets/images/activities/圖片3.png' | relative_url }}" alt="tsri證書" class="img-square_B" loading="lazy">
    <li><strong>科普列車教學</strong> – 中學巡迴實驗教學，培養教學與科學溝通能力。</li>
     <img src="{{ 'assets/images/activities/圖片4.png' | relative_url }}" alt="志工活動" class="img-square" loading="lazy">
    <li><strong>滑板社</strong> – 與外系同學互相學習討論，團隊協作與困難解決能力。</li>
     <img src="{{ 'assets/images/activities/圖片6.png' | relative_url }}" alt="滑板社" class="img-square" loading="lazy">
  </ul>
</section>
