<section id="languages">
  <h2>🌍 Language Proficiency</h2>
  <ul>
    <li><strong>Chinese (Mandarin):</strong> Native</li>
    <li><strong>English: Possess basic listening, speaking, reading, and writing skills; able to read academic literature, understand technical materials, and have experience communicating with international students. Currently TOEIC score of 505 and continue to improve.</li>
       <img src="{{ 'assets/images/languages/圖片5.png' | relative_url }}" alt="TOEIC" class="img-square_D">
       <img src="{{ 'assets/images/languages/圖片9.png' | relative_url }}" alt="Group Photo" class="img-square">
  </ul>
</section>
