<section id="projects">
  <h2>📁 Projects</h2>
  <ul>
    <li>
      <strong>Development of High-Efficiency, Eco-Friendly White QD-LEDs</strong><br>
      Optimized hole transport efficiency and introduced a composite emission layer, increasing device current efficiency from <strong>0.41 cd/A to 1.87 cd/A</strong>. Further developed eco-friendly devices with white light emission.<br>
      📄 <a href="{{ 'assets/images/ projects/專題.pdf' | relative_url }}" target="_blank">Download PDF</a>
      <br>
      <a href="{{ 'assets/images/ projects/1752399036876-fbb5cb32-94ee-4ac6-9f2f-6c8732746404_1.png' | relative_url }}" target="_blank">
       <img src="{{ 'assets/images/ projects/1752399036876-fbb5cb32-94ee-4ac6-9f2f-6c8732746404_1.png' | relative_url }}" alt="Project Summary" class="img-square_D skill-image" style="max-width: 250px; margin-top: 10px;">
      </a>
    </li>
    <li>
      <strong>Automated Academic Paper Push Bot</strong><br>
      Developed with Python, integrates arXiv RSS and keyword matching, and uses Telegram Bot to automatically push new research papers daily, improving literature tracking efficiency.<br>
      <a href="{{ 'assets/images/skills/IMG_8338.PNG' | relative_url }}" target="_blank">
       <img src="{{ 'assets/images/skills/IMG_8338.PNG' | relative_url }}" alt="Push Bot" class="img-square_C skill-image" style="max-width: 220px; margin-top: 10px;">
      </a>
      <br>
        🔗 <a href="https://github.com/bbbb520-yh/papereader" target="_blank">GitHub Link</a>
     </li>
     <li>
       <strong>Local Paper Q&A Bot</strong><br>
       Built a RAG system based on FAISS vector database and Hugging Face models, enabling local PDF paper reading and natural language Q&A, protecting privacy and improving response accuracy.<br>
     </li>
  </ul>
</section>

