<section id="projects">
  <h2>📁 專題(案)作品</h2>
  <ul>
    <li>
      <strong>高效環保白光量子點發光二極體（QD-LED）開發</strong><br>
      優化電洞傳輸效率並引入複合發光層，使元件電流效率由 <strong>0.41 cd/A 提升至 1.87 cd/A</strong>，進一步透過製程製成具白光發光的環保元件。<br>
      📄 <a href="{{ '/assets/docs/QDLED_report.pdf' | relative_url }}" target="_blank">下載 PDF</a>
    </li>

    <li>
      <strong>自動化推送專業論文機器人</strong><br>
      使用 Python 撰寫爬蟲與通知腳本，整合 arXiv RSS 與關鍵字比對，透過 Telegram Bot 實現每日自動推送研究新知，提升文獻追蹤效率。<br>

  
      <a href="{{ 'assets/images/skills/IMG_8338.PNG' | relative_url }}" target="_blank">
       <img src="{{ 'assets/images/skills/IMG_8338.PNG' | relative_url }}" alt="自動推送機器人" class="img-square_C skill-image" style="max-width: 220px; margin-top: 10px;">
      </a>
        🔗 <a href="https://github.com/bbbb520-yh/papereader" target="_blank">GitHub 連結</a>
     </li>


     <li>
       <strong>本地運行論文問答機器人</strong><br>
       建立基於 FAISS 向量資料庫與 Hugging Face 模型的 RAG 系統，可在本地讀取 PDF 論文並進行自然語言問答，保護私密資料、提升回應準確性。<br>

       <a href="{{ 'assets/images/projects/螢幕擷取畫面 2025-06-27 221300.png' | relative_url }}" target="_blank">
        <img src="{{ 'assets/images/projects/螢幕擷取畫面 2025-06-27 221300.png' | relative_url }}" alt="本地 AI 論文問答示意圖" class="img-square_A skill-image" style="max-width: 220px; margin-top: 10px;">
       </a>

        🔗 <a href="https://github.com/bbbb520-yh/doc-chat-assistant" target="_blank">GitHub 連結</a>
      </li>

  </ul>
</section>

