<section id="skills">
  <h2>🛠️ Skills</h2>
  <div class="skills-wrapper">
    <div class="skills-text">
      <ul>
        <li>🧪 <strong>Device Fabrication:</strong> Proficient in thin film processes (such as spin-coating, thermal evaporation), with experience in quantum dot and organic device fabrication.</li>
         <img src="{{ 'assets/images/skills/圖片1.png' | relative_url }}" alt="Device Emission" class="img-square">
         <img src="{{ 'assets/images/skills/圖片8.png' | relative_url }}" alt="Evaporation Machine" class="img-square">
        <li>📈 <strong>Optoelectronic Measurement:</strong> Operate LJV, CE, EL measurement systems for device efficiency and emission analysis.</li>
         <img src="{{ 'assets/images/skills/圖片10.png' | relative_url }}" alt="Device Photo" class="img-square skill-image">
         <img src="{{ 'assets/images/skills/LJV.png' | relative_url }}" alt="LJV+CE" class="img-square_X skill-image">
         <img src="{{ 'assets/images/skills/CE.png' | relative_url }}" alt="LJV+CE" class="img-square_X skill-image">
        <li>💻 <strong>Programming Applications:</strong> Proficient in Python automation, control, web scraping, and AI model applications.</li>
         📄 <a href="{{ '/assets/images/skills/天文物理特論.pdf' | relative_url }}" target="_blank">Astronomical Data Statistical Analysis Report (PDF)</a>
         <br>
         <img src="{{ 'assets/images/skills/螢幕擷取畫面 2025-06-27 210453.png' | relative_url }}" alt="Data Statistics" class="img-square_A skill-image">
         <br>
         <video width="30%" controls>
           <source src="{{ 'assets/images/skills/18107110571827.mp4' | relative_url }}" type="video/mp4">
           Your browser does not support video playback.
         </video>
         <video width="50%" controls>
           <source src="{{ 'assets/images/skills/Untitled video - Made with Clipchamp.mp4' | relative_url }}" type="video/mp4">
           Your browser does not support video playback.
         </video>
      </ul>
    </div>
  </div>
</section>

