<section id="skills">
  <h2>🛠️ Skills</h2>
  <div class="skills-wrapper">
    <div class="skills-text">
      <ul>
        <li>🧪 <strong>Device Fabrication:</strong> Proficient in thin film processes (such as spin-coating, thermal evaporation), with experience in quantum dot and organic device fabrication.</li>
         <img src="{{ 'assets/images/skills/圖片1.png' | relative_url }}" alt="Device Emission" class="img-square">
         <img src="{{ 'assets/images/skills/圖片8.png' | relative_url }}" alt="Evaporation Machine" class="img-square">
        <li>📈 <strong>Optoelectronic Measurement:</strong> Operate LJV, CE, EL measurement systems for device efficiency and emission analysis.</li>
         <img src="{{ 'assets/images/skills/圖片10.png' | relative_url }}" alt="Device Photo" class="img-square skill-image">
         <img src="{{ 'assets/images/skills/LJV.png' | relative_url }}" alt="LJV+CE" class="img-square_X skill-image">
         <img src="{{ 'assets/images/skills/CE.png' | relative_url }}" alt="LJV+CE" class="img-square_X skill-image">
      </ul>
    </div>
  </div>
</section>

