<section id="skills">
  <h2>🛠️ 技能專長</h2>
  <div class="skills-wrapper">
    <div class="skills-text">
      <ul>
        <li>🧪 <strong>元件製作：</strong> 熟悉薄膜製程技術（如 spin-coating、熱蒸鍍），具備量子點與有機元件製作經驗</li>
         <img src="{{ 'assets/images/activities/圖片4.png' | relative_url }}" alt="志工活動" class="img-square">
        <li>📈 <strong>光電量測：</strong> 操作 LJV、CE、EL 等量測系統，進行元件效率與發光特性分析</li>
        <li>💻 <strong>程式應用：</strong> 擅長 Python 自動化、自動控制、爬蟲與 AI 模型應用（如本地文獻問答機器人）</li>
         <img src="{{ 'assets/images/skills/IMG_8338.PNG' | relative_url }}" alt="文獻回顧" class="img-square_C">
         <br>
           <video width="50%" controls>
              <source src="{{ 'assets/images/skills/18107110571827.mp4' | relative_url }}" type="video/mp4">
              您的瀏覽器不支援影片播放。
            </video>
      </ul>
    </div>
  </div>
</section>

